<launch>
    <!-- Launch a bag with the three camera odometry topic or launch the 3 rs t265 cameras -->
    <arg name="input_bag_name" default="waypoint_square_v6_9.bag" />
    <arg name="output_bag_name" default="waypoint_square_v6_9.bag" />
    <arg name="folder" default="localization/waypoint_motion_capture/ekf_mix" />
    <arg name="record" default="false" />
    <param name="use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="/home/giacomo/inspectrone_ws/bags/$(arg folder)/$(arg input_bag_name) --clock"/>
    <!-- Include file for launching the t265 cameras -->
    <!--<include file="$(find InspectroneRobotLocalization)/launch/launch_t265.xml">-->
   
    <!-- include node that publish all the static tf-->
    <include file="$(find InspectroneRobotLocalization)/launch/publish_cameras_tf_inspectrone.xml" />
    
    <!-- include Robot localization node -->

    <!-- EKF configured to take cameras odometry only orientation and velocity (not differential) -->
    <!-- <include file="$(find InspectroneRobotLocalization)/launch/robot_localization_inspectrone_vel.xml">
        <arg name="node_start_delay" value="0" />
    </include> -->
    <!-- EKF configured to take cameras odometry in a mixed configuration -->
    <!-- camera1 and camera3 (top and bottom): pose + orientation + lin velocity with differential -->
    <!-- camera 2 (front): orientation + lin velocity (not differential) -->
    <include file="$(find InspectroneRobotLocalization)/launch/robot_localization_inspectrone_mix.xml" >
        <arg name="node_start_delay" value="0" />
    </include>
    <!-- EKF configured to take cameras odometry pose, orientation and velocity - differential -->
    <!-- <include file="$(find InspectroneRobotLocalization)/launch/robot_localization_inspectrone_diff.xml" >
        <arg name="node_start_delay" value="0" />
    </include> -->

    <!-- Launch node for preparing data for EKF in robot localization - one for each camera -->
    <!-- args:
            prefix of the camera topic for realsense t265
            base_link frame name relative to the camera#_pose_frame
            new topic prefix name for the new odometry
    -->
    <node name="odom0_tf_listener" output="screen" pkg="InspectroneRobotLocalization" type="publish_odom_rs" required="true">
        <param name="camera" type="str" value="camera1" />
        <param name="base_link" type="str" value="base_link_1" />
        <param name="prefix_odom" value="cam1" />
    </node>
        
    <node name="odom1_tf_listener" output="screen" pkg="InspectroneRobotLocalization" type="publish_odom_rs" required="true">
        <param name="camera" type="str" value="camera2" />
        <param name="base_link" type="str" value="base_link_2" />
        <param name="prefix_odom" value="cam2" />
    </node>

    <node name="odom2_tf_listener" output="screen" pkg="InspectroneRobotLocalization" type="publish_odom_rs" required="true">
        <param name="camera" type="str" value="camera3" />
        <param name="base_link" type="str" value="base_link_3" />
        <param name="prefix_odom" value="cam3" />
    </node>

    <node pkg="rosbag" type="record" name="recorder" output="screen" args="-O /home/giacomo/inspectrone_ws/bags/$(arg folder)/$(arg output_bag_name) --all" if="$(arg record)" />

    <!-- RVIZ visulization -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find InspectroneRobotLocalization)/rviz/ekf_localization_odom_with_motion_capture.rviz"/>
</launch>